<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TakeNote - Home">
        <title>TakeNote - Home</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

        <nav class="main-menu">
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('get_notes') }}">Log In</a></li>
            <li><a href="{{ url_for('new_note') }}">Register</a></li>
          </ul>
        </nav>

        <div class="center">
          <h1>Welcome to TakeNote!</h1>
          <h2>Please log in at the top right to access your notes.</h2>
        </div>
        <div>
          <img id="logo" src="{{ url_for('static', filename='logo.png')}}"/>
        </div>

    </body>
</html>
